* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dc-primary: #0282f9;
  --dc-secondary: #303030;
  --dc-dark: #1c1c1c;
  --dc-light: #ffff;
}

body {
  font-family: "Open Sans", sans-serif;
}